/*ALL PAGE*/

.container-page {
    background-color: lavender;
}

.MuiContainer-root {
    padding: 0 !important;
}

.container-content {
    background-color: white;
    /*background-color: #f5f5f5;*/
}

.main-content {
    padding: 100px 30px;
}





/*HEADER*/

.headerLink {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    /*color: #e0e2ef;*/
    color: #fff;
    /*font-size: 0.875rem;*/
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .7;
}

.MuiToolbar-root {
    justify-content: space-between;
}

.activeLink {
    color: #fff;
    opacity: 1;
}





/*MIRST PAGE*/

.buttonContainer {
    margin-bottom: 50px;
}

.btn {
    width: 24.25%;
    margin-left: 1% !important;
}

.btn:first-child {
    margin-left: 0 !important;
}

.addBtn {
    background-color: royalblue !important;
}

.deleteBtn {
    background-color: lightblue !important;
}





/*CELL*/

.cellContainer {
    /*box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.2);*/
    /*border-radius: 4px;*/
    border: 2px solid lavender;
    /*border-bottom: unset;*/
    /*border-top: unset;*/
    display: inline-block;
}